{%extends 'wrapper.html'%}
{% block title %} Admin Dashboard - Branch{% endblock %}
{%block page_heading%}Branch{% endblock %}
{%block content %}


<div class="card shadow mb-4">

    <div class="card-body">
        <div class="container py-5">
            <div class="row">
                <div class="col-md-6 mx-auto">

                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col-md-3">Branch Name</th>
                            <th scope="col-md-9">Alias</th>
                            {% if user.info.user_role == 'admin' %}
                            <th scope="col-md-9">Action</th>
                            {% endif %}
                        </tr>
                        </thead>
                        <tbody>
                        {% for d in branch %}
                        <tr>
                            <th scope="row">{{d.name}}</th>
                            <th scope="row">{{d.alias}}</th>
                            {% if user.info.user_role == 'admin' %}
                            <th scope="row"><a href="{% url 'edit_branch' d.id %}">Edit</a></th>
                            {% endif %}
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <a href="{% url 'add_branch' %}" class="btn btn-primary btn-icon-split">
                    <span class="icon text-white-50">
                      <i class="fas fa-flag"></i>
                    </span>
                        <span class="text">Add An Branch</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

{%endblock%}