<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{%url 'dashboard'%}">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Admin Panel</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item">
        <a class="nav-link" href="{%url 'dashboard'%}">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>


    <!-- Divider -->
    <hr class="sidebar-divider">
    <div class="sidebar-heading">
        Interface
    </div>

    <!-- Nav Item - Charts -->
    {% if user.info.user_role == 'admin' %}
    <li class="nav-item">
        <a class="nav-link" href="{%url 'register'%}">
            <i class="fas fa-fw fa-user"></i>
            <span>Register User</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{%url 'user_info'%}">
            <i class="fas fa-fw fa-user"></i>
            <span>All Users Info</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{%url 'institute'%}">
            <i class="fas fa-fw fa-user"></i>
            <span>Institutes</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{%url 'department'%}">
            <i class="fas fa-fw fa-user"></i>
            <span>Department</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{%url 'branch'%}">
            <i class="fas fa-fw fa-user"></i>
            <span>Branch</span></a>
    </li>
    {% endif %}
    <!-- Nav Item - Tables -->
    <li class="nav-item">
        <a class="nav-link" href="{% url 'user_view' id=user.id %}">
            <i class="fas fa-fw fa-user"></i>
            <span>Profile</span></a>
    </li>
  <li class="nav-item">
        <a class="nav-link" href="{% url 'attendence_list' %}">
            <i class="fas fa-fw fa-table"></i>
            <span>Your Attendence</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>